NODE_ENV=development
PORT=3000
BASE_URL=http://localhost:3000

JWT_SECRET=94a9eee1806a2a61935d0fa105d48d961c2f5bf24ae9ffe40380257a09e4dd251903ae38c24c4f612c08203ee9c2daae

OPENAI_API_KEY=sk-proj-...

STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

STRIPE_PRICE_ID_MONTHLY=price_...
STRIPE_PRICE_ID_YEARLY=price_...
